*.o
*.dSYM
*.csv
*.out
*.png
*.so
build/darknet/*
!build/darknet/YoloWrapper.cs

# CMake #
cmake-build-debug/
CMakeLists.txt

# weight files
backup/
models/

# vs code setting files
.vscode/

# temp results and output folders
results/
var-output/
