# binary files
*.o
*.out
*.png
*.so
darknet

# build folder
buildQtCreator/
build/darknet/*
!build/darknet/YoloWrapper.cs

# CMake #
cmake-build-debug/
CMakeLists.txt.user

# weight files
backup/
models/

# vs code setting files
darknet.code-workspace
.vscode/

# temp results and output folders
results/
var-output/
